<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="API Settings">
        <setting id="tmdb_api_key" type="text" label="TMDB API Key" default=""/>
        <setting id="youtube_api_key" type="text" label="YouTube API Key" default=""/>
        <setting type="sep"/>
        <setting id="enable_search" type="bool" label="Enable Search" default="true"/>
        <setting id="show_adult" type="bool" label="Show Adult Content (18+)" default="false" enable="!eq(-1,false)"/>
    </category>
</settings>
